/* CountryStateCitySelector.module.css */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 310px;
  padding: 20px;
  /* margin-right: 800px; */
  padding-right: px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 50px; */
  background-color: white;
  margin: 0  0px 25px auto;
}

.main {
  font-size: 14px;
  font-weight: bold;
}

.citymain {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.citymain:disabled {
  background-color: #f0f0f0;
}
