.cardmain{
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    margin-top: 10px;
    /* border: 1px solid #ccc; */
    grid-template-columns: repeat(3, 1fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 350px;
    height: 62vh;
    margin: 1rem;
  }
  main {
    display: flex;               /* Use flexbox for layout */
    flex-direction: row;      /* Stack the children vertically */
    align-items: center;         /* Center the children horizontally */
    justify-content: center;     /* Center the children vertically */
    padding: 20px;
  }
  
  .banner {
    background-color: #f0f0f0;   /* A background for the banner */
    padding: 10px 20px;
    text-align: center;
    margin: 10px 0;
    width: 100%; /* Ensures it takes full width */
  }
  .image {
    width: 100%;
    height: 30vh;
  }
  
  .content {
    padding: 5px;
  }
  
  .title {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .author {
    font-size: 0.9rem;
    color: #555;
  }
  
  .text {
    font-size: 0.95rem;
    margin: 0.5rem 0;
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds "..." at the end of truncated text */
  
  }
  
  .readMore {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  .link{
    color: #f8f8f9;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: #fa4f4f;
    text-align: end;
  }
  
  
  
  
  