/* Eventscard.module.css */

/* Card Container */
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Image Styling */
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Content Styling */
  .content {
    padding: 16px;
  }
  
  /* Title Styling */
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
    color: rgb(84, 16, 84);
  }
  
  /* Author Styling */
  .author {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 8px;
  }
  
  /* Description Text Styling */
  .text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
    line-height: 1.5;
    display: -webkit-box;
    /* -webkit-line-clamp: 3;  */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Link Styling */
  .link {
    display: inline-block;
    font-size: 1rem;
    color: #fafafb;
    padding: 8px;
    margin-left: 250px;
    border-radius: 15px 0 15px 15px ;
    background-color: #ff5069;
    text-decoration: none;
    font-weight: bold;
    /* margin-top: auto; */
    /* transition: color 0.3s; */
  }
  
  /* .link:hover {
    color: #0056b3;
  } */
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
    }
  
    .image {
      height: 150px;
    }
  
    .title {
      font-size: 1.25rem;
    }
  
    .text {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .content {
      padding: 12px;
    }
  
    .title {
      font-size: 1.1rem;
    }
  
    .text {
      font-size: 0.8rem;
    }
  }