.card {
    display: flex; /* Use flexbox to align items */
    flex-direction: row; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove link underline */
    /* padding: 5px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 100px;
    margin: 3px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none; /* Prevent text selection */
    overflow: hidden; /* Ensure content does not overflow outside the card */
  }
  
  /* .card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  } */
/*   
  .cardmain {
    display: flex;
    align-items: center;
    width: 100%;
  } */
  
  .image {
    width: 95%; /* Set fixed width */
    height: 29vh; /* Set fixed height */
    object-fit: cover; /* Ensure the image maintains aspect ratio and fits inside the box */
    border-radius: 10px; /* Makes the image circular */
    margin-right: 16px; /* Add spacing between the image and the text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: -5px;
    border: 2px solid #ccc; 
  }
  .maintext {
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word; /* Ensure text wraps inside the card */
  }
  .cardmain{
width: 50%;
  }
  .name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .title {
    font-size: 1rem;
    color: #666;
    margin: 4px 0 0;
  }
  .email {
    font-size: 14px;
    margin-bottom: 4px;
    color: #555;
    word-break: break-word; /* Break long email addresses */
  }
  
.maintext p {
    margin: 0;
    white-space: normal; /* Allow text to wrap to the next line */
    line-height: 1.4; /* Add line height for readability */
    max-height: calc(100% - 80px); /* Keep text contained within the card */
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate overflowed text if necessary */
  }