.main {
    margin-top: 20px;
    /* padding: 1px; */
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    background-color:white;
    width: 99%;
    /* height: 0vh; */
    max-width: 430px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .education {
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #ddd; */
  } 
  
  .toggleButton {
    background: none;
    border: none;
    margin-left: 110px;
    font-size: 16px;
    cursor: pointer;
    color: #171717;
    /* background-color: gra(); */
    padding: 13px;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .toggleButton:hover {
    color: #100f0f;
    background-color: white;
  }
  
  .dropdown {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .dropdown label {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  .dropdown label:hover {
    background-color: #f1f1f1;
  }
  
  input[type="radio"] {
    cursor: pointer;
    margin: 0;
  }
  
  input[type="radio"]:checked + span {
    font-weight: bold;
    color: #007bff;
  }
  