/* Global Reset */
* {
    margin: 0;
    padding: 0;
    /* background-color: #EBEDF9; */
    /* box-sizing: border-box; */
  }
  .content{
    display: flex;
    margin-top: 70px;
    background-color: #EBEDF9;
  }
  /* .container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */
.imageContainer{
  /* margin-top: 50px; */
  width: 70%;
}
.flowerContainer {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 70%;
  height: 100%; */
  z-index: 1;
  pointer-events: none;
}
.textContainer{

  margin-top: 200px;
  width: 40%;
}
.flower {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: randomMovement 15s linear infinite;
  opacity: 0.8;
}
.subtitle{
  font-size: 50px;
  color: rgb(78, 56, 100);
  font-weight: bold;
}
/* Animation for random movement */
.container {
  position: relative;
  
  overflow: hidden;
}
.image {
  width: 90%;
  height: 110vh;
  border-end-end-radius: 90%;
  object-fit: cover;
}
.title {
  font-size: 24px;
  color: rgb(234, 64, 64);
  font-weight: bold;
  margin-bottom: 7px;
}
.description {
  text-align: justify;
  padding-right: 50px;
  font-size: 16px;
  line-height: 1.5;
}


.flowerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

/* .flower {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: randomMovement 15s linear infinite;
  opacity: 0.8;
} */

/* Animation for random movement */
@keyframes randomMovement {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(calc(50vw - 25px), calc(-50vh)) rotate(90deg);
  }
  50% {
    transform: translate(calc(-50vw + 25px), calc(50vh)) rotate(180deg);
  }
  75% {
    transform: translate(calc(75vw), calc(-75vh)) rotate(270deg);
  }
  100% {
    transform: translate(calc(-75vw), calc(75vh)) rotate(360deg);
  }
}


.flower:nth-child(1) {
  top: 50%;
  left: 5%;
  animation-delay: 0s;
}

.flower:nth-child(2) {
  top: 20%;
  left: 15%;
  animation-delay: 1s;
}

.flower:nth-child(3) {
  top: 30%;
  left: 25%;
  animation-delay: 0s;
}

.flower:nth-child(4) {
  top: 80%;
  left: 35%;
  animation-delay: 1s;
}

.flower:nth-child(5) {
  top: 70%;
  left: 45%;
  animation-delay: 0s;
}

.flower:nth-child(6) {
  top: 20%;
  left: 55%;
  animation-delay: 1s;
}

.flower:nth-child(7) {
  top: 80%;
  left: 65%;
  animation-delay: 2s;
}

.flower:nth-child(8) {
  top: 30%;
  left: 75%;
  animation-delay: 1s;
}

.flower:nth-child(9) {
  top: 90%;
  left: 85%;
  animation-delay: 2s;
}

.flower:nth-child(10) {
  top: 50%;
  left: 95%;
  animation-delay: 1s;
}
 
  /* For devices with a max-width of 768px (tablets and smaller) */
@media (max-width: 768px) {
  .content {
      flex-direction: column;
  }

  .textContainer {
      margin-top: 20px;
      text-align: center;
      width: 90%;
  }

  .title {
      font-size: 20px;
  }

  .subtitle {
      font-size: 18px;
  }

  .description {
      font-size: 14px;
  }

  .image {
      width: 100%;
      height: auto;
  }

  .flower {
      width: 40px;
      height: 40px;
  }
}

/* For devices with a max-width of 480px (mobile devices) */
@media (max-width: 480px) {
  .textContainer {
      margin-top: 10px;
  }

  .title {
      font-size: 18px;
  }

  .subtitle {
      font-size: 16px;
  }

  .description {
      font-size: 12px;
  }

  .flower {
      width: 30px;
      height: 30px;
  }
}