/* .maniss{
    top: 70px;
    padding-top: 100px;
} */
.dropdown {
    margin-left: 100px;
    /* top: 70px; */
    /* margin-top: 100px; */
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #fff;
  }
  .checkbox{
    margin-right: 10px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .icon {
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ccc;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #e6f7ff;
  }
  




  