/* Main container for the MemberPage */
.memberPage {
  padding: 0px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Title styling */
.title {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Member list container (three-column grid layout) */
.memberListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Spacing between columns */
  padding: 10px;
}
