@import url('https://fonts.googleapis.com/css?family=Barlow');

.pageContainer {
  /* background: #310404 url(../image/music.webp) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Barlow', sans-serif;
  width: 88%;
  height: 80vh;
  border-radius: 30px;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
 
}

.spContainer {
  position: relative;
  /* position: absolute; */
  top: 0px;
  left: 0px;
border-radius: 30px;
  width: 88%;
  height: 80vh;
  /* z-index: 0; */
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}

.spContent {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  left: 0px;
  padding-top: 200px;
  padding-left: 50px;
  top: 0px;
  z-index: 1000;
  text-align: center;
}

.big {
  font-size: 80px;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
  animation: blurFadeIn 1s ease-in 1s backwards;
}

.success {
  font-size: 30px;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
  animation: blurFadeIn 1s ease-in 1s backwards;
}

.sell {
  font-size: 40px;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
  animation: blurFadeIn 1s ease-in 1s backwards;
}

@keyframes blurFadeIn {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
/* 
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
} */

.sp-circle-link {
  position: absolute;
  left: 50%;
  bottom: 100px;
  margin-left: -50px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #fff;
  color: #3f1616;
  font-size: 25px;
  border-radius: 50%;
  animation: fadeInRotate 1s linear 1s backwards;
}

.sp-circle-link:hover {
  background: #85373b;
  color: #fff;
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
