.Bridemain{
    display: flex;
    margin-top: 70px;
}
.main{
    width: 30%;
}
.containmain{
    width: 60%;
}



/* Responsive styles */
@media (max-width: 768px) {
    .Bridemain {
      flex-direction: row; /* Stack elements vertically */
      align-items: center; /* Center items horizontally */
      margin-top: 20px; /* Reduce margin for smaller screens */
    }
  
    .main,
    .containmain {
      width: 50%; /* Take up most of the screen width */
      margin-bottom: 20px; /* Add spacing between stacked elements */
    }
  }
  
  @media (max-width: 480px) {
    .Bridemain {
      margin-top: 10px; /* Further reduce top margin for very small screens */
    }
  
    .main,
    .containmain {
      width: 100%; /* Full width for narrow devices */
      margin-bottom: 15px; /* Adjust spacing between elements */
    }
  }